.rooms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 0 1rem;
  border: 0.1rem solid #808080;
  padding: 1rem 2rem;
  color: white;
}
