@use '@/styles/_common.scss' as *;

$width: 75rem;

@mixin container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: $width;
}

@mixin content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $width;
}

.desktop {
  width: 100vw;

  header {
    @include container;
    text-align: center;
    height: 6rem;
    font-size: $logo-font;
  }

  .navContainer {
    @include container;

    border: {
      top: $middle-line;
      bottom: $middle-line;
    }

    nav {
      @include content;
      height: 2.8rem;
      font-size: $menu-font;

      a {
        padding-right: 5rem;
        color: $white;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .mainContainer {
    @include container;

    .wrap {
      @include content;
      align-items: stretch;
      height: calc(100vh - 6rem - 2.8rem - 3rem);

      main {
        flex: 8;
      }

      aside {
        flex: 2;
        border-left: $big-line;
        padding-left: 1rem;
      }

      footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
      }
    }
  }

  .taskbarContainer {
    @include container;
    height: 3rem;
    font-size: $content-font;
    background: $gray;

    div:first-child {
      @include content;
      white-space: nowrap;
    }
  }
}
