.pageWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  canvas:hover {
    cursor: pointer;
  }
  button:hover {
    cursor: pointer;
  }
}

.timerWrap {
  display: flex;
  justify-content: space-around;
  height: 2rem;
}

.playersWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.gameInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.giveupButton {
  color: #00ff00;
  background-color: black;
  border: solid #00ff00;
  border-radius: 1rem;
  width: 5rem;
  height: 1.5rem;
}
